/* Общие стили */
body {
 font-family: 'Unbounded', sans-serif;
 background-color: #;
 margin: 0;
 padding: 0;
 scroll-behavior: smooth
}

h1, h2, h3 {
 color: #333;
}

a {
 text-decoration: none;
 color: #333;
 margin: 0 10px;
 padding: 5px 10px;
 border-radius: 5px;
}

a:hover {
 background-color: #ffff;
}

/* Стили для навигации */
nav {
 background-color: #f1d79e;
 padding: 13px;
 text-align: center;
 border-radius: 15px;
}

/* Стили для активного элемента навигации */
nav a.active {
 background-color: #ccc;
}

/* Стили для изображений */
img {
 max-width: 100%;
 height: auto;
}

/* Стили для изображений на больших экранах */
@media (min-width: 768px) {
 img {
  width: 500px;
 }
}

/* Стили для изображений на мобильных устройствах */
@media (max-width: 767px) {
 img {
  width: 100%;
 }
}
 .text-frame {
  border: 3px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(241, 215, 158, 0.4); /* 60% прозрачности цвета f1d79e */
}

h1, h2, h3 {
            font-size: 2em;
        }

